//
//  Production.xcconfig
//  BitFlyerAssessment
//
//  Created by Nanda Julianda Akbar on 28/03/23.
//

#include "Base.xcconfig"
#include "Version.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_PRODUCT_BUNDLE_ID)
PRODUCT_NAME = $(BASE_PRODUCT_NAME)
MARKETING_VERSION = $(MAJOR).$(MINOR).$(PATCH)
CURRENT_PROJECT_VERSION = $(PRODUCTION_BUILD)
API_URL = $(ENDPOINT_DOMAIN)
API_ACCESS_TOKEN = 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
